.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRight {
    display: flex;
    justify-content: right;
    align-items: center;
}

.flexLeft {
    display: flex;
    justify-content: left;
    align-items: center;
}